// =========================================================================
//  niri : animations.kdl
// =========================================================================

animations {
    slowdown 0.9

    config-notification-open-close {
        curve "ease-out-expo"
        duration-ms 250
    }

    exit-confirmation-open-close {
        spring stiffness=1200 damping-ratio=1.0 epsilon=0.001
    }

    horizontal-view-movement {
        spring stiffness=1000 damping-ratio=0.8 epsilon=0.001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    overview-open-close {
        curve "ease-out-expo"
        duration-ms 350
    }

    screenshot-ui-open {
        curve "ease-out-expo"
        duration-ms 200
    }

    window-open {
        curve "ease-out-expo"
        duration-ms 150
    }

    window-close {
        curve "ease-out-quad"
        duration-ms 150
    }

    workspace-switch {
        curve "ease-out-expo"
        duration-ms 350
    }

    window-resize {
        curve "ease-out-expo"
        duration-ms 150
    }
}
