// =========================================================================
// niri : config.kdl
// =========================================================================

include "animations.kdl"
include "binds.kdl"
include "cursor.kdl"
include "environment.kdl"
include "input.kdl"
include "layer-rules.kdl"
include "layout.kdl"
include "output.kdl"
include "window-rules.kdl"

prefer-no-csd
hotkey-overlay { skip-at-startup; }

spawn-at-startup {
    run "fcitx5" "-d" "--replace"
    run "noctalia"
}
