// =========================================================================
//  niri : cursor.kdl
// =========================================================================
cursor {
    hide-when-typing
    theme "Bibata-Modern-Ice"
    size 20
}
