// =========================================================================
//  niri : cursor.kdl
// =========================================================================
cursor {
    hide-when-typing
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 20
}
